*{
    font-family: 'Courier New', Courier, monospace;
}
.BookNow {
    background-color: rgb(233, 88, 88);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 20px;
    cursor:pointer ;
    margin-right: 8px;
    margin-left: 50%;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
      transition: opacity 0.15s;
    vertical-align: top;
    font-size:16px;
    font-weight: bold;
    transition: background-color 0s,
      color 0s;
  }


  .BookNow:hover {
    box-shadow:  5px 5px 10px rgba(29, 27, 27, 0.7);
    
  }
  .BookNow:active {
    opacity: 0.9;
    border:1px solid;